:root {
  background-color: #121212; /* Глубокий черный */
  color: #e0e0e0; /* Светло-серый текст */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: block; /* Або просто видали flex/place-items */
  min-height: 100vh;
}